
.icon-patreon:before { content: '\e800'; } /* '' */
.icon-youtube:before { content: '\e801'; } /* '' */
.icon-discord:before { content: '\e802'; } /* '' */
.icon-clipboard:before { content: '\e804'; } /* '' */
.icon-download-cloud:before { content: '\f0ed'; } /* '' */
